@use "images";
@use "mixins";
@use "variables" as v;
@use "about";
html{
  html {
    scroll-behavior: smooth;
  }
  
}

body {
  margin: 0;
  padding: 0;
  width: 100%;

header{
  position: relative;
  height: 100vh;
  background: url("./../assets/negative-space-black-forest-dawn.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.text1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: v.$primary;
  font-size: 20px;
 } 

.main1{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h2, h3{
  color: v.$primary;
  text-align: center;
  vertical-align: center;
  text-align: center;
  font-size: 18px;
  font-weight: 800;

}

}
li{
  color: v.$primary;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: v.$primary;
}

a:hover {
  text-decoration:underline;
}



.card-text{
  &__move{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 5%;
    padding: 10px;
  }
}


@media screen and (max-width:768px){
  .text2, .text3 {
    position:relative;
    top: 40%;
    right: 60%;
    color: v.$primary;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .section1 {
    position: absolute;
    //padding-top: 50%;
    //display: flex;
    //-content: center;
    //align-items: flex-end;
   // flex-direction: row;
    //height: 30vh;
    //padding-top: 90vh;
    bottom: 50px;
    width: 100%;
    text-align: center;

  }
.main1, .section1{
  position: absolute;
  // top: 50%;
  // left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


}
}



